body{
    background-attachment: fixed;
    background-image:url(mh.jpg);
    b
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
}
main{
    width: 100px;
    height: 100 px;

}
fieldset{
    width: 250px;
}
	
      
 