
body{
    background-attachment: fixed;
    background-image:url(tw.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width: 100px;
    height: 100 px;

}
	
      
 